:root {
    --page-grey: #E5E5E5;
    --dark-green: #223D40;
    --light-green: #29555A;
    --yellow: #F2CF8D;
    --button-white: #ECECEC;
    --dark-yellow: #8C805D;
    --light-yellow: #F2CF8D;
}


* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 30vh;
    background-color: var(--yellow);
}

.title {
    height: 30%;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    border-radius: 50%;
}

.logout {
    height: 2.2rem;
    padding: 0px 10px;
    font-family: "Poppins", system-ui;

    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--dark-green);
    color: var(--yellow);
    font-size: 16px;
    cursor: pointer;
}


.form {
    /* background-color: white; */
    height: 50%;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.options {
    display: flex;
    flex-flow: column nowrap;
}

label,
select,
.add {
    font-size: 16px;
    font-family: "Poppins", system-ui;
}

select {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--dark-green);
}

select:active,
select:focus {
    border-bottom: 2px solid red;
}

.add {
    height: 2.2rem;
    padding: 0px 10px;
    font-family: "Poppins", system-ui;

    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--dark-green);
    color: var(--yellow);
    font-size: 16px;
    cursor: pointer;
}

.visualisation{
    background-color: white;
    border: 2px solid var(--dark-green);
    height: 2em;
    width: 4.2em;
    padding: 5px;
    border-radius: 6px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.vicon{
    background-color: white;
    width: 2em;
    border-radius: 4px;
}
